body{
    background: lightskyblue;
}

#canvas{
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellow;
    width: 700px;
    height: 300px;
    margin: 2rem auto;
}

#primary-number, #secondary-number{
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number{
    border: solid 4px green;
}

#secondary-number{
    border: solid 4px blue;
}

#add, #equal{
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}
input{
    border: solid 2px cyan;
    width: 150px;
    height: 30px;
    padding-left: 25px;
}

button{
    width: 100px;
    height: 35px;
    margin: 5px;
    background: red;
    color: white;
    border: 1px solid lightgrey;
}

#new-game {
    background: green;
    font-size: 1rem;
    border-radius: 4px;
}

#message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: purple;
    border-radius: 6px;
    padding: 2rem;
    width: 30%;
    max-width: 20rem;
    margin-top: 2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}